<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    自动装配类型（byType）有且只有一个-->
    <!--<bean id="userController" class="com.atwzs.spring.controller.UserController" autowire="byType">
    </bean>

    <bean id="userService" class="com.atwzs.spring.service.impl.UserServiceImpl" autowire="byType">
    </bean>

    <bean id="userDao" class="com.atwzs.spring.dao.impl.UserDaoImpl"></bean>
-->
    <!--    当类型匹配的有bean有多个时，此时可以使用byName,自动装配类型（byName）有且只有一个-->
    <bean id="userController" class="com.atwzs.spring.controller.UserController" autowire="byName">
    </bean>
    <bean id="userService" class="com.atwzs.spring.service.impl.UserServiceImpl" autowire="byName">
    </bean>
    <!--<bean id="userServiceImpl" class="com.atwzs.spring.service.impl.UserServiceImpl" autowire="byName">
    </bean>-->
    <bean id="userDao" class="com.atwzs.spring.dao.impl.UserDaoImpl">
    </bean>
    <!--<bean id="userDaoImpl" class="com.atwzs.spring.dao.impl.UserDaoImpl">
    </bean>-->
</beans>